<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.1F2</key>
	<array>
		<string>styling-pres-01-t</string>
		<string>styling-css-01-b</string>
		<string>styling-class-01-f</string>
		<string>struct-image-04-t</string>
		<string>struct-image-01-t</string>
		<string>pservers-grad-09-b</string>
		<string>pservers-grad-05-b</string>
		<string>painting-fill-03-t</string>
		<string>painting-fill-02-t</string>
		<string>painting-control-02-f</string>
		<string>color-prop-01-b</string>
		<string>masking-opacity-01-b</string>
		<string>pservers-grad-07-b</string>
		<string>pservers-grad-02-b</string>
		<string>pservers-grad-04-b</string>
		<string>pservers-grad-01-b</string>
		<string>color-prop-02-f</string>
		<string>color-prop-03-t</string>
		<string>coords-coord-01-t</string>
		<string>coords-trans-01-b</string>
		<string>coords-trans-02-t</string>
		<string>coords-trans-03-t</string>
		<string>coords-trans-04-t</string>
		<string>coords-trans-05-t</string>
		<string>coords-trans-06-t</string>
		<string>coords-trans-07-t</string>
		<string>coords-trans-08-t</string>
		<string>coords-trans-09-t</string>
		<string>coords-transformattr-01-f</string>
		<string>coords-transformattr-02-f</string>
		<string>coords-transformattr-03-f</string>
		<string>coords-transformattr-04-f</string>
		<string>coords-transformattr-05-f</string>
		<string>painting-control-03-f</string>
		<string>painting-fill-01-t</string>
		<string>painting-fill-04-t</string>
		<string>painting-fill-05-b</string>
		<string>painting-stroke-01-t</string>
		<string>painting-stroke-02-t</string>
		<string>painting-stroke-03-t</string>
		<string>painting-stroke-04-t</string>
		<string>painting-stroke-05-t</string>
		<string>painting-stroke-07-t</string>
		<string>painting-stroke-08-t</string>
		<string>painting-stroke-09-t</string>
		<string>paths-data-01-t</string>
		<string>paths-data-02-t</string>
		<string>paths-data-03-f</string>
		<string>paths-data-04-t</string>
		<string>paths-data-05-t</string>
		<string>paths-data-06-t</string>
		<string>paths-data-07-t</string>
		<string>paths-data-08-t</string>
		<string>paths-data-09-t</string>
		<string>paths-data-10-t</string>
		<string>paths-data-12-t</string>
		<string>paths-data-13-t</string>
		<string>paths-data-14-t</string>
		<string>paths-data-15-t</string>
		<string>paths-data-16-t</string>
		<string>paths-data-17-f</string>
		<string>paths-data-18-f</string>
		<string>paths-data-19-f</string>
		<string>paths-data-20-f</string>
		<string>render-elems-01-t</string>
		<string>render-elems-02-t</string>
		<string>render-elems-03-t</string>
		<string>shapes-circle-01-t</string>
		<string>shapes-circle-02-t</string>
		<string>shapes-ellipse-01-t</string>
		<string>shapes-ellipse-02-t</string>
		<string>shapes-ellipse-03-f</string>
		<string>shapes-grammar-01-f</string>
		<string>shapes-intro-01-t</string>
		<string>shapes-line-01-t</string>
		<string>shapes-line-02-f</string>
		<string>shapes-polygon-01-t</string>
		<string>shapes-polygon-02-t</string>
		<string>shapes-polygon-03-t</string>
		<string>shapes-polyline-01-t</string>
		<string>shapes-polyline-02-t</string>
		<string>shapes-rect-02-t</string>
		<string>shapes-rect-04-f</string>
		<string>shapes-rect-05-f</string>
		<string>shapes-rect-06-f</string>
		<string>struct-defs-01-t</string>
		<string>struct-frag-01-t</string>
		<string>struct-frag-06-t</string>
		<string>struct-group-01-t</string>
		<string>struct-use-03-t</string>
		<string>types-basic-01-f</string>
	</array>
	<key>1.2T</key>
	<array>
		<string>color-prop-02-f</string>
	</array>
</dict>
</plist>
